*{
  margin:0;
  padding:0; 
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  color: rgb(var(--foreground-rgb));
  background-color: var(--primary-light);
}

ul[class],li,
ol[class] {
  list-style: none;
}

.whitespace-normal {
  white-space: normal;
}

body form input:-internal-autofill-selected {
  background-color: unset;
}

.my-toast[data-sonner-toast] button[data-close-button] {
  right: 0;
  left: unset;
  transform: translate(35%, -35%);
}

@keyframes circulating-border {
  0% {
    border-top-color: currentColor;
    border-bottom-color: transparent;
  }
  25% {
    border-right-color: currentColor;
    border-left-color: transparent;
  }
  50% {
    border-bottom-color: currentColor;
    border-top-color: transparent;
  }
  75% {
    border-left-color: currentColor;
    border-right-color: transparent;
  }
  100% {
    border-top-color: currentColor;
    border-bottom-color: transparent;
  }
}

@keyframes ripple-animation {
  0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 1;
  }
  50% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.5;
  }
  100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
  }
}
@keyframes wave-animation {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(10%);
  }
}

@keyframes move-back-forth {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
}